button,
.btn {
	@include focusable();

	display          : inline-block;
	margin-bottom    : 0;
	height           : $base-line-height * 1.5;
	padding          : $base-line-height / 4 $base-line-height;
	line-height      : $base-line-height;
	text-align       : center;
	text-decoration  : none;
	vertical-align   : middle;
	touch-action     : manipulation;
	color            : #fff;
	background-color : $key-color;
	background-image : none;
	border           : 1px solid $key-color;
	white-space      : nowrap;

	&:hover,
	&:focus {
		color            : #fff;
		background-color : darken($key-color, 10%);
		border-color     : darken($key-color, 12%);
		text-decoration  : none;
	}

	&[aria-disabled="true"],
	&[disabled] {
		cursor         : not-allowed;
		box-shadow     : none;
		pointer-events : none;

		&,
		&:hover,
		&:focus {
			color            : #333;
			background-color : #ccc;
			border-color     : #ccc;
		}
	}
}
