*, *:before, *:after {
	box-sizing : border-box;
}

@import "button";
@import "dialog";
@import "feedback";
@import "flags";

body.dialog-open {
	overflow : hidden;
}

.feedback-content,
.dialog-content {
	display : none !important;
}