@mixin clearfix() {
  &::after {
	content : "";
	display : table;
	clear   : both;
  }
}

@mixin focusStyles{
	outline        : 1px dashed $accent-color;
	outline-offset : -2px;
}

@mixin focusRect {
  &:focus {
	@include focusStyles() ;
  }
}

@mixin focusable() {
  cursor : pointer;
  @include focusRect();
}