.page-header {
	padding-top    : 80px;
	padding-bottom : 0;
	margin-top     : 0;
	margin-bottom  : 0;
	border-bottom  : none;

	h1 {
		position : relative;
		z-index  : 100;
		color    : #fff;
	}

}

.section-header {
	margin-top       : 100px;
	background-color : lighten($brand-primary, 15%);
	text-align       : center;
	h2 {
		color : #fff;
	}
}

.logo-container {
	@include shadow-depth-5();

	margin-top       : -100px;
	position         : relative;
	display          : inline-block;
	width            : 200px;
	height           : 200px;
	border-radius    : 50%;
	background-color : $brand-primary;

	span {
		position         : absolute;
		top              : 20px;
		left             : 20px;
		display          : block;
		width            : 160px;
		height           : 160px;
		border-radius    : 50%;
		background-color : #fff;
	}

	img {
		position : absolute;
		left     : -14px;
		top      : -83px;
		width    : 180px;
	}
}