
.accordion {
	position   : relative;
	box-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	.accordion-tab {
		@include focusable;

		position         : relative;
		display          : block;
		padding          : $base-line-height / 2 $base-line-height;
		font-weight      : 700;
		background-color : #fcfcfc;
		transition       : box-shadow .2s ease-in;

		&:focus,
		&:hover {

		}
		&:focus {
			z-index : 1;
		}

		&[aria-expanded="true"] {

		}
	}

	.accordion-panel {;
		@include focusRect();

		position         : relative;
		padding          : 1px $base-line-height 0;
		border-bottom    : 2px solid rgba($key-color, .3);
		margin           : 0;
		overflow         : hidden;
		background-color : #fcfcfc;
		transition       : all .6s .001s cubic-bezier(0.86, 0, 0.07, 1), visibility .001s;

		&:focus {
			z-index : 1;
		}

		&[aria-hidden="true"] {
			padding    : 0 $base-line-height;
			max-height : 0;
			visibility : hidden;
			transition : all .6s cubic-bezier(0.86, 0, 0.07, 1), visibility .001s .6s;
		}
	}
}