.multiple-choice {
	position : relative;

	.input-group {
		position : relative;
	}

	label {
		position         : relative;
		z-index          : 2;
		display          : block;
		min-height       : 42px;
		background-color : #fff;
		padding          : 2px 2px 2px 54px;

		&:before {
			content          : "";
			position         : absolute;
			top              : 3px;
			left             : 0;
			z-index          : 3;
			display          : block;
			width            : 22px;
			height           : 22px;
			border-radius    : 6px;
			background-color : #fff;
			border           : 2px solid $key-color;
			box-shadow       : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			transition       : all 0.35s ease-in-out;
		}

		&:after {
			content         : "\2713 ";
			position        : absolute;
			top             : -9px;
			left            : 1px;
			z-index         : 10;
			display         : block;
			width           : 30px;
			height          : 30px;
			transition      : all 0.2s ease-in-out;
			background-size : contain;
			pointer-events  : none;
			color           : #388E3C;
			font-size       : 32px;
			transform       : scale(2);
			opacity         : 0;
		}

		&:hover,
		&:focus {
			&:before {
				background-color : rgba($key-color, .1);
			}
		}

	}
	input[type="checkbox"],
	input[type="radio"] {
		position : absolute;
		top      : 1px;
		left     : 1px;
		z-index  : 1;

		&:checked ~ label:after,
		&:checked + label:after {
			transform : scale(1);
			opacity   : 1;
		}

		&:focus ~ label,
		&:focus + label {
			outline        : 1px dashed $accent-color;
			outline-offset : -2px;
		}

		&[aria-disabled="true"] + label:hover,
		&[aria-disabled="true"] + label:focus,
		&[aria-disabled="true"] + label {
			cursor : not-allowed;
			color  : #666;

			.letter {
				color : #666;
			}

			&:before {
				border-color     : #666;
				background-color : #fff;
			}
		}
	}
}