.thinking-question {
  position : relative;

  textarea {
	padding     : $base-line-height / 2;
	width       : 100%;
	line-height : $base-line-height;

	&:focus {
	  outline        : 1px dashed $accent-color;
	  outline-offset : 2px;
	}
  }
}