*, *:before, *:after {
	box-sizing : border-box;
}

@import "button";
@import "dialog";
@import "feedback";
@import "notices";
@import "card";

body.dialog-open {
	overflow : hidden;
}

.feedback-content,
.dialog-content {
	display : none !important;
}

.submit-row {
  margin    : $base-line-height 0;
  text-align : right;
}