
.accordion {
	position : relative;

	.accordion-tab {
		@include addContrastingColors($key-color);
		@include focusable;

		position   : relative;
		z-index    : 1;
		padding    : $base-line-height / 2 $base-line-height;
		box-shadow : inset 0 $base-line-height $base-line-height ($base-line-height * -1) rgba(#fff, 0.3);
		transition : box-shadow .2s ease-in;

		&:focus,
		&:hover {
			box-shadow : inset 0 ($base-line-height* 3) ($base-line-height * 3) ($base-line-height * -3) rgba(#fff, 0.3);
		}

		&[aria-expanded="true"] {
			cursor     : pointer;
			box-shadow : inset 0 ($base-line-height* 5) ($base-line-height * 5) ($base-line-height * -5) rgba(#fff, 0.2);
		}
	}

	.accordion-panel {
		@include addContrastingColors(#fcfcfc);
		@include focusable;

		position      : relative;
		margin        : 0;
		padding       : 1px $base-line-height;
		border-right  : 1px solid rgba($color-text-dark, 0.1);
		border-left   : 1px solid rgba($color-text-dark, 0.1);
		border-bottom : 2px solid $accent-color-bright;
		max-height    : 300px;
		overflow      : hidden;
		transition    : all .7s ease-out;

		&[aria-hidden="true"] {
			padding    : 0 $base-line-height;
			max-height : 0;

		}
	}
}