/**
 * Colors
 */
$key-color : #283593 !default;
$accent-color : #FF9800 !default;
$danger-color : #500 !default;
$success-color : #005700 !default;
$text-color : #222 !default;
$base-line-height : 24px !default;
$border-color : #777 !default;

$card-border-radius: 4px ;