/**
 * Colors
 */
$key-color : #283593 !default;
$accent-color : #ff9800 !default;
$danger-color : #500 !default;
$success-color : #005700 !default;
$text-color : #222 !default;
$base-line-height : 24px !default;
$border-color : #777 !default;
$color-backing : #f1f1f1 !default;
$card-border-radius : 4px !default;